a.plain:link
{ color: #333; text-decoration: none }
a.plain:active
{ color: #333; text-decoration: none }
a.plain:visited
{ color: #333; text-decoration: none }
a.plain:hover
{ color: #333; text-decoration: none }

.status-bar {
    height: 60px;
}

.cust-subsection {
padding-top: 10px;
}
.cust-phone-sep {
  padding-top:10px;
}

.addressesList > div {
	padding-bottom: 0px;
	margin-bottom: 30px;
	border-bottom: 1px solid #f0f0f0
}

.backgrid td { vertical-align: top; }

.phoneCell, .emailCell, .addressCell {
    padding-bottom: 7px;
}
.phoneCell b, .emailCell b, .addressCell b {
    color: #999999;
}

.btn.dropdown-toggle {
    width: 100px;
}

.btn.btn-success {
    width: 278px;
}

.saveCustomer,.deleteCustomer {
    width:100px;
}

.btn.dropdown-toggle.addressTypeDropdown {
    width: 226px;
}

input {
    width: 212px;
}

.removeStreet {
    padding-left: 10px;
}
