<div class="addressCell"><b><%- v.type %></b><br>
<%= _.map(v.streetLines || [], _.escape).join('<br>') %><br>
<i><%- (v.town != undefined) ? v.town : '' %>, <%- (v.postalCode != undefined) ? v.postalCode : '' %></i><br></div>
