<div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Customers</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="home-menu"><a href="#"><i class="icon-search icon"></i> Search</a></li>
                    <li class="add-menu"><a href="#add"><i class="icon-edit icon"></i> Create new</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
